@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model servicesViewModel
@{
	ViewData["Title"] = "Service";
	var httpContext = ViewContext?.HttpContext;
	var lang = httpContext?.Items["lang"]?.ToString() ?? httpContext?.Request.RouteValues["lang"]?.ToString() ?? "en";
	ViewData["Lang"] = lang;
}

<section class="hero-wrap  ftco-degree-bg js-fullheight" style="background-image: url('images/bg_1.jpg');"
		 data-stellar-background-ratio="0.5">
	<div class="overlay"></div>
	<div class="container">
		<div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
			<div class="col-md-9 ftco-animate pb-5 text-center">
				<p class="breadcrumbs"><span class="mr-2"><a href="index.html">@Model.staticDatas.LastOrDefault(x =>
																	x.Id == "E120").LocalizedContent(lang) <i class="ion-ios-arrow-forward"></i></a></span>
					<span>@Model.staticDatas.LastOrDefault(x => x.Id == "E121").LocalizedContent(lang) <i
						class="ion-ios-arrow-forward"></i></span>
					</p>
					<h1 class="mb-3 bread">@Model.staticDatas.LastOrDefault(x => x.Id == "E122").LocalizedContent(lang)</h1>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-12 heading-section text-center ftco-animate mb-5">
					<span class="subheading">@Model.staticDatas.LastOrDefault(x => x.Id ==
																		"E123").LocalizedContent(lang)</span>
						<h2 class="mb-2">@Model.staticDatas.LastOrDefault(x => x.Id == "E124").LocalizedContent(lang)</h2>
					</div>
				</div>
				<div class="row d-flex">
					<div class="col-md-3 d-flex align-self-stretch ftco-animate">
						<div class="media block-6 services d-block text-center">
							<div class="icon d-flex justify-content-center align-items-center"><span
								class="flaticon-piggy-bank"></span></div>
								<div class="media-body py-md-4">
									<h3>@Model.staticDatas.LastOrDefault(x => x.Id == "E125").LocalizedContent(lang)</h3>
									<p>@Model.staticDatas.LastOrDefault(x => x.Id == "E126").LocalizedContent(lang)
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-3 d-flex align-self-stretch ftco-animate">
							<div class="media block-6 services d-block text-center">
								<div class="icon d-flex justify-content-center align-items-center"><span
									class="flaticon-wallet"></span></div>
									<div class="media-body py-md-4">
										<h3>@Model.staticDatas.LastOrDefault(x => x.Id == "E127").LocalizedContent(lang)</h3>
										<p>@Model.staticDatas.LastOrDefault(x => x.Id == "E128").LocalizedContent(lang)
										</p>
									</div>
								</div>
							</div>
							<div class="col-md-3 d-flex align-self-stretch ftco-animate">
								<div class="media block-6 services d-block text-center">
									<div class="icon d-flex justify-content-center align-items-center"><span
										class="flaticon-file"></span></div>
										<div class="media-body py-md-4">
											<h3>@Model.staticDatas.LastOrDefault(x => x.Id == "E129").LocalizedContent(lang)</h3>
											<p>@Model.staticDatas.LastOrDefault(x => x.Id == "E130").LocalizedContent(lang)
											</p>
										</div>
									</div>
								</div>
								<div class="col-md-3 d-flex align-self-stretch ftco-animate">
									<div class="media block-6 services d-block text-center">
										<div class="icon d-flex justify-content-center align-items-center"><span
											class="flaticon-locked"></span></div>
											<div class="media-body py-md-4">
												<h3>@Model.staticDatas.LastOrDefault(x => x.Id == "E131").LocalizedContent(lang)</h3>
												<p>@Model.staticDatas.LastOrDefault(x => x.Id == "E132").LocalizedContent(lang)
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>

						<section class="ftco-section ftco-degree-bg services-section img mx-md-5"
								 style="background-image: url(/images/bg_2.jpg);">
							<div class="overlay"></div>
							<div class="container">
								<div class="row justify-content-start mb-5">
									<div class="col-md-6 text-center heading-section heading-section-white ftco-animate">
										<span class="subheading">@Model.staticDatas.LastOrDefault(x => x.Id ==
																												"E133").LocalizedContent(lang)</span>
											<h2 class="mb-3">@Model.staticDatas.LastOrDefault(x => x.Id == "E134").LocalizedContent(lang)</h2>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="row">
												<div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
													<div class="media block-6 services services-2">
														<div class="media-body py-md-4 text-center">
															<div class="icon mb-3 d-flex align-items-center justify-content-center">
																<span>@Model.staticDatas.LastOrDefault(x => x.Id ==
																																													"E135").LocalizedContent(lang)</span>
																</div>
																<h3>@Model.staticDatas.LastOrDefault(x => x.Id == "E136").LocalizedContent(lang)</h3>
																<p>@Model.staticDatas.LastOrDefault(x => x.Id == "E137").LocalizedContent(lang)</p>
															</div>
														</div>
													</div>
													<div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
														<div class="media block-6 services services-2">
															<div class="media-body py-md-4 text-center">
																<div class="icon mb-3 d-flex align-items-center justify-content-center"><span>@Model.staticDatas.LastOrDefault(x => x.Id == "E138").LocalizedContent(lang)</span>
																</div>
																<h3>@Model.staticDatas.LastOrDefault(x => x.Id == "E139").LocalizedContent(lang)</h3>
																<p>@Model.staticDatas.LastOrDefault(x => x.Id == "E140").LocalizedContent(lang)</p>
															</div>
														</div>
													</div>
													<div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
														<div class="media block-6 services services-2">
															<div class="media-body py-md-4 text-center">
																<div class="icon mb-3 d-flex align-items-center justify-content-center"><span>@Model.staticDatas.LastOrDefault(x => x.Id == "E141").LocalizedContent(lang)</span>
																</div>
																<h3>@Model.staticDatas.LastOrDefault(x => x.Id == "E142").LocalizedContent(lang)</h3>
																<p>@Model.staticDatas.LastOrDefault(x => x.Id == "E143").LocalizedContent(lang)</p>
															</div>
														</div>
													</div>
													<div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
														<div class="media block-6 services services-2">
															<div class="media-body py-md-4 text-center">
																<div class="icon mb-3 d-flex align-items-center justify-content-center"><span>@Model.staticDatas.LastOrDefault(x => x.Id == "E144").LocalizedContent(lang)</span>
																</div>
																<h3>@Model.staticDatas.LastOrDefault(x => x.Id == "E145").LocalizedContent(lang)</h3>
																<p>@Model.staticDatas.LastOrDefault(x => x.Id == "E146").LocalizedContent(lang)</p>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</section>

